#about {
  background: var(--dark-grey);
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 10px;
}

.about__image img {
  width: 20rem;
  border-radius: 50%;
}

.about__information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
}

.about__information h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--purple);
  margin-bottom: 25px;
  border-bottom: solid 3px var(--white);
  width: 220px;
}

.about__information p {
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--white);
  line-height: 1.4;
  margin-bottom: 25px;
}