.menu {
  background: var(--dark-grey);
}

.menu__container {
  padding: 20px calc((100% - 1200px) / 2);
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu__container-nav ul {
  display: flex;
  flex-wrap: wrap;
  }

.menu__container-nav  a {
  
  margin: 0 10px;
  padding: 0 10px;
  font-size: 1.2rem;
  color: var(--purple);
}


.menu__container-nav a:hover {
  letter-spacing: 0.3px;
  color: var(--white);
}

.menu__container-bars p {
  color: var(--purple);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu__container-bars a:hover {
  color: var(--white);
}
