:root {
  --white: #ffffff;
  --purple: #bd93f9;
  --dark-grey: #282a36;
  --grey-bg: #44475a;
  --dark-purple: #391c77;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


